@tailwind base;
@tailwind components;
@tailwind utilities;

.timeline-tracker {
    position: fixed;
    top: 50%; /* Center vertically */
    left: 20px; /* Spacing from the left edge */
    transform: translateY(-50%);
    z-index: 1000; /* Ensure it's above other content */
  }
  
  .timeline-dot {
    width: 10px;
    height: 10px;
    background-color: gray;
    border-radius: 50%;
    margin-bottom: 8px;
  }
  
  .timeline-dot.active {
    background-color: rgb(8, 8, 8);
  }